<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <p id="result">{{ result }}</p>
    <form action='login' method="post">
      <label for="uname">Username:</label>
      <br />
      <input name="uname" id="uname" type="text">
      <br />
      <label for="pword">Password:</label>
      <br />
      <input name="pword" id="pword" type="password">
      <br />
      <label for="2fa">2FA:</label>
      <br />
      <input name="2fa" id="2fa" type="text">
      <br />
      <br />
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
