<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Spell Check</title>
  </head>
  <body>
    <form action="spell_check" method="post">
      <label for="inputtext">Input Text:</label>
      <br />
      <textarea id="inputtext" name="inputtext" rows="8" cols="80"></textarea>
      <br />
      <br />
      <input name="csrf" value="{{ csrf }}"  type="hidden">
      <input type="submit" value="Submit">
    </form>
    <p id="textout">{{ textout }}</p>
    <p id="misspelled">{{ misspelled }}</p>
  </body>
</html>
